<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Taras Shabatyn. All rights reserved.
 *
 * Please contact: taras.shabatin@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Torus_Robot" setup_version="2.0.0">
    </module>
</config>
